In [56]:
import numpy as np
import pandas as pd
import datetime
from datetime import date
import matplotlib
import seaborn as sns
import matplotlib.pyplot as plt
#import plotly.graph_objects as go
from sklearn.preprocessing import normalize ,MinMaxScaler
from sklearn import metrics
from sklearn.mixture import GaussianMixture
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import warnings
warnings.filterwarnings('ignore')
pd.options.display.float_format = "{:.3f}".format
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', 999)

## Load data

In [57]:
df=pd.read_csv('Book1.csv',header=0,sep=';')

In [58]:
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.000,0,0,2012-09-04,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.000,1,1,2014-03-08,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.000,0,0,2013-08-21,26,426,49,127,111,21,42,1,8,2,10,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.000,1,0,2014-02-10,26,11,4,20,10,3,5,2,2,0,4,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.000,1,0,2014-01-19,94,173,43,118,46,27,15,5,5,3,6,5,0,0,0,0,0,0,3,11,0

In [59]:
df.columns

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response'],
      dtype='object')

## Feature Engineering

In [60]:
df['Age']=2021-df['Year_Birth']

In [61]:
df['Spending']=df['MntWines']+df['MntFruits']+df['MntMeatProducts']+df['MntFishProducts']+df['MntSweetProducts']+df['MntGoldProds']

In [62]:
df=df.rename(columns={'NumWebPurchases': "Web",'NumCatalogPurchases':'Catalog','NumStorePurchases':'Store'})
df['Marital_Status']=df['Marital_Status'].replace({'Divorced':'Alone','Single':'Alone','Married':'In couple','Together':'In couple','Absurd':'Alone','Widow':'Alone','YOLO':'Alone'})
df['Education']=df['Education'].replace({'Basic':'Undergraduate','2n Cycle':'Undergraduate','Graduation':'Postgraduate','Master':'Postgraduate','PhD':'Postgraduate'})

In [63]:
df['Children']=df['Kidhome']+df['Teenhome']
df['Has_child'] = np.where(df.Children> 0, 'Has child', 'No child')
df['Children'].replace({3: "3 children",2:'2 children',1:'1 child',0:"No child"},inplace=True)
df=df.rename(columns={'MntWines': "Wines",'MntFruits':'Fruits','MntMeatProducts':'Meat','MntFishProducts':'Fish','MntSweetProducts':'Sweets','MntGoldProds':'Gold'})

In [64]:
last_date = date(2021,12,5)
df['Seniority']=pd.to_datetime(df['Dt_Customer'], dayfirst=True,format = '%Y-%m-%d')
df['Seniority'] = pd.to_numeric(df['Seniority'].dt.date.apply(lambda x: (last_date - x)).dt.days, downcast='integer')/30

In [65]:
df=df[['Age','Education','Marital_Status','Income','Seniority','Spending','Has_child','Children','Wines','Fruits','Meat','Fish','Sweets','Gold']]
df.head()

,Age,Education,Marital_Status,Income,Seniority,Spending,Has_child,Children,Wines,Fruits,Meat,Fish,Sweets,Gold
0,64,Postgraduate,Alone,58138.000,112.633,1617,No child,No child,635,88,546,172,88,88
1,67,Postgraduate,Alone,46344.000,94.300,27,Has child,2 children,11,1,6,2,1,6
2,56,Postgraduate,In couple,71613.000,100.933,776,No child,No child,426,49,127,111,21,42
3,37,Postgraduate,In couple,26646.000,95.167,53,Has child,1 child,11,4,20,10,3,5
4,40,Postgraduate,In couple,58293.000,95.900,422,Has child,1 child,173,43,118,46,27,15

## Drop missing values and outliers

In [66]:
df.isna().sum()

Age                0
Education          0
Marital_Status     0
Income            24
Seniority          0
Spending           0
Has_child          0
Children           0
Wines              0
Fruits             0
Meat               0
Fish               0
Sweets             0
Gold               0
dtype: int64

In [67]:
df['Income'].sort_values( ascending=False)

2233   666666.000
617    162397.000
687    160803.000
1300   157733.000
164    157243.000
1653   157146.000
2132   156924.000
655    153924.000
1898   113734.000
646    105471.000
252    102692.000
203    102160.000
124    101970.000
1113    98777.000
650     98777.000
2012    96876.000
1958    96843.000
1995    96547.000
914     95529.000
1001    95169.000
1473    94871.000
1982    94642.000
1993    94472.000
943     94384.000
1301    94384.000
1458    93790.000
826     93404.000
424     93027.000
966     92955.000
426     92910.000
140     92859.000
1910    92556.000
1432    92533.000
1721    92491.000
1385    92344.000
591     92163.000
814     91820.000
1992    91712.000
1031    91700.000
1922    91249.000
2167    91172.000
418     91065.000
1897    90933.000
1333    90842.000
116     90765.000
1261    90687.000
1572    90638.000
1179    90638.000
1808    90369.000
390     90300.000
1722    90273.000
703     90247.000
1601    90226.000
2168    90000.000
729     89891.000
734     89694.000
2190    89616.000
456     89572.000
513     89120.000
109     89058.000
1891    88420.000
1075    88347.000
2211    88325.000
67      88194.000
1334    88097.000
559     87771.000
824     87771.000
1492    87679.000
716     87305.000
104     87195.000
1520    87188.000
1076    87171.000
2086    87000.000
1887    86979.000
884     86857.000
686     86857.000
1845    86836.000
198     86718.000
1671    86610.000
1697    86580.000
906     86429.000
878     86424.000
1126    86358.000
142     86111.000
113     86037.000
1090    85844.000
1969    85738.000
859     85710.000
1137    85696.000
1349    85696.000
102     85693.000
990     85683.000
546     85620.000
1133    85606.000
1269    85485.000
1773    85431.000
905     85072.000
1841    84953.000
2125    84906.000
1237    84906.000
430     84865.000
347     84835.000
1206    84618.000
29      84618.000
636     84574.000
1087    84460.000
1510    84219.000
970     84219.000
626     84196.000
917     84169.000
543     84169.000
2187    84117.000
634     83917.000
1947    83891.000
1007    83844.000
745     83844.000
1467    83844.000
176     83837.000
1265    83829.000
1100    83829.000
217     83790.000
975     83715.000
389     83664.000
339     83532.000
1066    83528.000
1710    83512.000
750     83443.000
2041    83273.000
1850    83257.000
1288    83151.000
484     83151.000
1153    83145.000
924     83033.000
338     83003.000
1570    82800.000
15      82800.000
1854    82733.000
803     82716.000
1444    82657.000
345     82623.000
423     82584.000
53      82582.000
976     82576.000
1723    82571.000
844     82504.000
292     82497.000
1582    82460.000
1733    82427.000
55      82384.000
852     82347.000
2193    82347.000
2127    82333.000
2109    82332.000
1869    82326.000
744     82224.000
986     82170.000
1792    82122.000
885     82072.000
2217    82032.000
1526    82032.000
942     82025.000
791     82017.000
1651    82014.000
231     81975.000
2098    81929.000
1320    81843.000
1745    81795.000
561     81741.000
837     81702.000
1111    81698.000
554     81698.000
1169    81657.000
1577    81574.000
2176    81380.000
1584    81361.000
84      81361.000
900     81320.000
676     81300.000
447     81246.000
507     81217.000
1689    81217.000
845     81205.000
515     81169.000
609     81168.000
1307    81051.000
2049    81044.000
828     80995.000
1924    80982.000
753     80952.000
305     80950.000
1097    80910.000
1952    80872.000
875     80812.000
984     80763.000
1828    80739.000
1358    80695.000
1163    80685.000
2213    80617.000
1413    80589.000
1912    80573.000
974     80573.000
175     80427.000
1713    80398.000
726     80395.000
1749    80360.000
1836    80336.000
159     80317.000
519     80184.000
2096    80144.000
1672    80141.000
417     80134.000
1411    80134.000
246     80134.000
463     80124.000
266     80124.000
197     80067.000
40      80011.000
288     79946.000
45      79941.000
228     79930.000
557     79908.000
1563    79865.000
2087    79823.000
1096    79803.000
586     79800.000
237     79761.000
1812    79734.000
988     79689.000
930     79632.000
126     79607.000
88      79593.000
1034    79593.000
366     79530.000
1513    79529.000
1082    79456.000
1486    79419.000
1158    79410.000
2093    79244.000
1996    79205.000
2175    79174.000
761     79146.000
1736    79146.000
51      79143.000
490     78952.000
771     78939.000
1508    78931.000
700     78901.000
485     78825.000
1686    78789.000
648     78710.000
1280    78687.000
497     78642.000
360     78618.000
1190    78579.000
1298    78569.000
2145    78499.000
98      78497.000
179     78497.000
699     78468.000
1443    78427.000
910     78420.000
1800    78416.000
1827    78394.000
825     78353.000
897     78331.000
762     78285.000
2103    78128.000
1581    78093.000
1198    78075.000
1446    78041.000
1000    78028.000
1759    77981.000
211     77972.000
277     77882.000
1913    77870.000
526     77863.000
688     77845.000
1252    77766.000
1669    77766.000
644     77632.000
222     77622.000
2067    77610.000
1923    77598.000
926     77583.000
1010    77568.000
1711    77520.000
307     77457.000
1737    77437.000
1322    77382.000
129     77376.000
673     77353.000
1451    77343.000
110     77298.000
1789    77298.000
1222    77297.000
1967    77226.000
1168    77142.000
1212    77044.000
1047    77037.000
2023    77027.000
1488    76998.000
18      76995.000
537     76982.000
1955    76842.000
1551    76800.000
1110    76773.000
1259    76653.000
892     76630.000
1242    76624.000
715     76618.000
1350    76542.000
1888    76532.000
2048    76467.000
1598    76445.000
820     76412.000
2052    76320.000
2186    76234.000
641     76140.000
1553    76081.000
1043    76081.000
2099    76068.000
1105    76045.000
492     76005.000
201     75922.000
1934    75903.000
415     75865.000
77      75825.000
1589    75794.000
2221    75777.000
60      75777.000
1644    75774.000
1799    75774.000
987     75759.000
1801    75702.000
254     75702.000
336     75693.000
1389    75507.000
754     75507.000
1484    75484.000
996     75437.000
427     75433.000
1084    75345.000
1734    75342.000
2036    75330.000
1567    75315.000
1569    75283.000
286     75278.000
401     75276.000
466     75261.000
76      75251.000
433     75236.000
1365    75154.000
934     75127.000
764     75127.000
911     75114.000
414     75072.000
1225    75032.000
247     75027.000
727     75012.000
766     74985.000
1213    74918.000
1541    74881.000
1728    74881.000
2163    74859.000
69      74854.000
720     74806.000
1313    74805.000
1253    74716.000
919     74637.000
1030    74538.000
1965    74485.000
928     74293.000
392     74293.000
1855    74290.000
1591    74268.000
777     74250.000
1172    74214.000
1257    74190.000
163     74165.000
927     74116.000
188     74068.000
1528    74004.000
798     73926.000
1452    73892.000
2203    73807.000
2194    73803.000
1699    73705.000
639     73691.000
243     73687.000
1512    73538.000
240     73455.000
521     73454.000
1262    73450.000
132     73448.000
1902    73395.000
1940    73356.000
812     73170.000
916     73113.000
1630    73059.000
658     73059.000
1990    72968.000
2107    72967.000
268     72940.000
602     72906.000
1877    72905.000
1134    72903.000
1325    72828.000
531     72679.000
1968    72643.000
1673    72635.000
624     72635.000
1943    72570.000
49      72550.000
809     72504.000
221     72460.000
921     72354.000
1953    72335.000
2131    72309.000
622     72298.000
1817    72282.000
779     72258.000
1058    72228.000
2118    72217.000
723     72190.000
1852    72159.000
1763    72117.000
353     72099.000
2166    72071.000
1814    72071.000
1659    72066.000
770     72063.000
735     72025.000
368     72025.000
1538    71969.000
2173    71965.000
2010    71964.000
705     71952.000
351     71952.000
2071    71866.000
1606    71855.000
1336    71853.000
1767    71853.000
1278    71847.000
1115    71819.000
936     71796.000
1498    71706.000
1089    71691.000
1961    71670.000
1304    71626.000
2       71613.000
1329    71604.000
562     71499.000
125     71488.000
780     71466.000
1332    71434.000
701     71427.000
835     71391.000
518     71367.000
1092    71367.000
2024    71322.000
2092    71322.000
1783    71232.000
747     71163.000
2056    71128.000
350     71113.000
1729    71107.000
702     71022.000
627     70971.000
214     70951.000
1921    70932.000
1016    70924.000
1050    70924.000
313     70893.000
1863    70886.000
1434    70844.000
453     70829.000
1945    70792.000
394     70777.000
1071    70713.000
64      70666.000
960     70647.000
1880    70643.000
1602    70638.000
1927    70617.000
1772    70596.000
1055    70596.000
1120    70566.000
737     70545.000
1351    70515.000
523     70503.000
1680    70440.000
796     70421.000
1485    70379.000
161     70356.000
677     70337.000
1743    70321.000
1879    70300.000
56      70287.000
2057    70179.000
1559    70179.000
461     70165.000
870     70123.000
1858    70116.000
1197    70091.000
1960    70053.000
1735    70044.000
2062    70038.000
1448    70038.000
1250    69969.000
1871    69932.000
1521    69930.000
1748    69901.000
592     69882.000
278     69867.000
2117    69805.000
352     69759.000
1637    69755.000
1894    69719.000
1878    69702.000
261     69674.000
196     69661.000
1355    69627.000
2074    69520.000
219     69508.000
689     69476.000
1449    69401.000
1410    69389.000
155     69372.000
1532    69283.000
270     69267.000
2170    69263.000
2238    69245.000
2151    69209.000
200     69142.000
1618    69139.000
1353    69139.000
1864    69109.000
1354    69109.000
1052    69098.000
68      69096.000
630     69084.000
1668    69084.000
1860    69063.000
1674    69016.000
2008    68805.000
681     68743.000
1455    68695.000
1032    68695.000
1218    68682.000
395     68682.000
34      68657.000
1610    68655.000
340     68655.000
298     68627.000
2083    68487.000
1499    68487.000
357     68462.000
929     68397.000
143     68352.000
1029    68316.000
2014    68281.000
947     68274.000
1843    68148.000
1151    68142.000
111     68126.000
1254    68118.000
680     68118.000
2030    68117.000
889     68092.000
498     67911.000
2101    67911.000
949     67893.000
1537    67786.000
2185    67716.000
63      67680.000
1059    67605.000
248     67546.000
1890    67546.000
937     67536.000
1999    67506.000
1931    67472.000
2064    67445.000
1554    67445.000
652     67445.000
1251    67433.000
736     67432.000
767     67430.000
1469    67419.000
1911    67384.000
1130    67381.000
1191    67369.000
36      67353.000
432     67309.000
436     67272.000
1369    67267.000
2031    67225.000
1765    67131.000
1407    67087.000
2065    67046.000
1069    67023.000
70      66991.000
191     66973.000
168     66951.000
649     66886.000
1747    66835.000
182     66835.000
902     66825.000
672     66731.000
1173    66726.000
459     66664.000
1622    66664.000
61      66653.000
1204    66636.000
465     66582.000
566     66565.000
317     66503.000
1109    66480.000
685     66476.000
2115    66476.000
412     66465.000
378     66426.000
708     66375.000
732     66373.000
54      66373.000
332     66334.000
275     66313.000
1275    66303.000
1080    66294.000
1548    66033.000
1243    66000.000
454     65991.000
815     65968.000
103     65846.000
1542    65819.000
2009    65814.000
407     65808.000
684     65777.000
1211    65748.000
151     65747.000
1844    65735.000
2171    65706.000
1421    65704.000
1310    65695.000
1401    65685.000
818     65685.000
506     65665.000
283     65640.000
1006    65569.000
1609    65526.000
1064    65526.000
1495    65492.000
631     65488.000
2188    65487.000
2134    65487.000
50      65486.000
1108    65463.000
1779    65370.000
985     65352.000
2144    65333.000
851     65324.000
23      65324.000
533     65316.000
2047    65308.000
679     65295.000
499     65275.000
2128    65220.000
2174    65210.000
1061    65196.000
249     65176.000
1308    65169.000
1474    65148.000
1249    65106.000
141     65104.000
486     65104.000
358     65073.000
72      65031.000
241     64961.000
932     64950.000
1662    64892.000
1460    64866.000
1311    64857.000
1476    64857.000
1928    64849.000
940     64831.000
1708    64813.000
320     64795.000
1235    64722.000
2075    64713.000
1782    64590.000
994     64587.000
1612    64509.000
1022    64504.000
209     64497.000
1966    64474.000
993     64449.000
573     64413.000
503     64355.000
323     64325.000
1853    64260.000
1271    64191.000
1067    64176.000
1641    64140.000
740     64108.000
308     64100.000
896     64090.000
2236    64014.000
1487    64014.000
1129    63998.000
1566    63972.000
1823    63967.000
1552    63943.000
1395    63915.000
224     63887.000
755     63855.000
1398    63841.000
1195    63841.000
279     63841.000
1422    63810.000
373     63810.000
2226    63777.000
202     63693.000
983     63693.000
2006    63684.000
749     63564.000
2148    63516.000
1798    63404.000
387     63381.000
640     63381.000
1750    63342.000
256     63342.000
1144    63285.000
1666    63246.000
1946    63211.000
1813    63207.000
1505    63206.000
1809    63159.000
638     63120.000
12      63033.000
130     62998.000
2161    62994.000
135     62981.000
1256    62972.000
1838    62972.000
1760    62905.000
739     62882.000
642     62859.000
790     62847.000
1060    62845.000
1342    62845.000
1905    62820.000
915     62820.000
601     62807.000
1481    62807.000
1883    62772.000
234     62745.000
1165    62710.000
1929    62694.000
1657    62670.000
2138    62637.000
1820    62568.000
166     62551.000
1796    62535.000
5       62513.000
475     62503.000
391     62499.000
632     62466.000
563     62466.000
871     62450.000
1695    62335.000
1193    62307.000
756     62220.000
335     62204.000
361     62187.000
325     62187.000
1357    62159.000
1348    62061.000
769     62058.000
478     62010.000
1187    62000.000
575     61996.000
695     61923.000
1930    61917.000
272     61905.000
800     61872.000
528     61839.000
1095    61825.000
1862    61825.000
62      61823.000
1954    61798.000
587     61794.000
1691    61787.000
1893    61671.000
846     61618.000
1216    61559.000
1587    61482.000
603     61467.000
470     61456.000
2039    61416.000
874     61346.000
131     61331.000
429     61314.000
187     61286.000
2126    61286.000
1226    61284.000
656     61278.000
509     61250.000
2235    61223.000
691     61209.000
1040    61180.000
244     61074.000
1700    61064.000
2206    61014.000
154     61010.000
2172    60934.000
2035    60905.000
2160    60896.000
1305    60894.000
1788    60839.000
276     60714.000
2037    60689.000
73      60631.000
460     60597.000
1490    60585.000
939     60554.000
1400    60544.000
1436    60544.000
552     60504.000
1906    60491.000
1579    60482.000
1480    60474.000
855     60474.000
1608    60432.000
1716    60230.000
1865    60208.000
1873    60200.000
157     60199.000
239     60182.000
797     60161.000
511     60152.000
487     60093.000
1295    60033.000
354     60000.000
594     59973.000
1072    59925.000
1477    59892.000
1309    59868.000
1635    59821.000
145     59809.000
956     59754.000
2159    59686.000
808     59666.000
1364    59601.000
1162    59594.000
1762    59481.000
2058    59462.000
495     59432.000
1015    59412.000
1802    59385.000
13      59354.000
150     59354.000
670     59304.000
1899    59292.000
343     59292.000
671     59247.000
1539    59235.000
1199    59184.000
721     59111.000
1241    59062.000
1314    59060.000
973     59052.000
958     59041.000
904     58917.000
301     58821.000
718     58710.000
2135    58692.000
1647    58684.000
1706    58656.000
2106    58646.000
1983    58646.000
22      58607.000
1525    58597.000
1816    58582.000
2225    58554.000
1360    58554.000
757     58512.000
1646    58494.000
2158    58482.000
1192    58401.000
713     58398.000
1688    58350.000
662     58330.000
752     58330.000
493     58308.000
4       58293.000
2110    58275.000
1856    58217.000
0       58138.000
1989    58116.000
1201    58113.000
1744    58086.000
2220    58025.000
2227    57967.000
450     57959.000
1461    57957.000
532     57954.000
946     57937.000
299     57912.000
865     57906.000
1493    57867.000
1297    57811.000
1148    57744.000
2201    57731.000
1848    57705.000
2224    57642.000
1415    57537.000
1550    57530.000
1150    57513.000
1378    57420.000
1370    57338.000
1839    57333.000
1159    57304.000
112     57288.000
538     57247.000
1094    57236.000
1273    57183.000
1648    57136.000
1506    57136.000
1986    57113.000
1915    57107.000
903     57100.000
1617    57100.000
1286    57091.000
822     57091.000
1479    57072.000
1408    57045.000
1530    57036.000
2237    56981.000
977     56962.000
728     56962.000
1951    56939.000
472     56937.000
806     56850.000
2085    56796.000
451     56796.000
1099    56775.000
1214    56721.000
1157    56715.000
839     56628.000
832     56575.000
1997    56559.000
1649    56551.000
1959    56551.000
1687    56534.000
1642    56386.000
1002    56337.000
1025    56320.000
660     56253.000
1376    56243.000
1374    56242.000
441     56223.000
637     56181.000
120     56129.000
1140    56129.000
941     56067.000
79      56046.000
1270    55956.000
59      55954.000
295     55951.000
2033    55914.000
477     55842.000
2051    55801.000
1740    55761.000
1516    55759.000
449     55707.000
1970    55686.000
6       55635.000
494     55614.000
2197    55593.000
496     55563.000
404     55521.000
1568    55517.000
1615    55434.000
1719    55424.000
830     55412.000
158     55375.000
857     55357.000
847     55284.000
647     55282.000
807     55267.000
895     55260.000
711     55250.000
1236    55249.000
938     55239.000
1926    55212.000
342     55212.000
1255    55158.000
1703    55012.000
1936    54998.000
1738    54984.000
1182    54959.000
556     54880.000
1200    54809.000
1834    54809.000
365     54803.000
965     54753.000
1228    54730.000
1832    54693.000
669     54690.000
1974    54690.000
579     54603.000
2070    54591.000
1625    54549.000
1112    54466.000
620     54456.000
1147    54450.000
1161    54450.000
328     54432.000
1624    54414.000
1177    54386.000
1937    54356.000
127     54348.000
1381    54342.000
2097    54252.000
959     54237.000
1085    54233.000
1709    54222.000
1101    54210.000
314     54198.000
1154    54197.000
89      54178.000
1017    54165.000
618     54162.000
901     54137.000
1423    54132.000
1826    54111.000
1503    54108.000
1605    54072.000
544     54058.000
1859    54006.000
1509    53977.000
1805    53977.000
588     53863.000
411     53858.000
1600    53843.000
468     53790.000
1390    53761.000
957     53700.000
505     53653.000
731     53593.000
173     53537.000
1266    53378.000
1497    53374.000
2090    53367.000
26      53359.000
1057    53312.000
1500    53253.000
2184    53233.000
2123    53230.000
2100    53204.000
1984    53201.000
1103    53187.000
868     53172.000
2046    53154.000
979     53103.000
1531    53083.000
1362    53034.000
1619    52973.000
2178    52914.000
2239    52869.000
1632    52854.000
1447    52852.000
998     52845.000
813     52750.000
369     52614.000
674     52614.000
961     52597.000
1594    52569.000
1289    52531.000
1824    52513.000
107     52413.000
1885    52413.000
167     52332.000
912     52278.000
1914    52278.000
1363    52203.000
216     52195.000
951     52190.000
565     52157.000
1707    52117.000
174     52074.000
1122    52034.000
1544    51983.000
1335    51948.000
1445    51876.000
97      51813.000
1515    51766.000
1620    51717.000
2082    51651.000
180     51650.000
1753    51569.000
945     51563.000
227     51537.000
437     51529.000
751     51518.000
364     51479.000
1202    51412.000
1543    51411.000
891     51390.000
1987    51373.000
226     51369.000
281     51369.000

In [68]:
df=df[df['Income']<600000]
df=df.dropna(subset=['Income'])
df.isna().sum()

Age               0
Education         0
Marital_Status    0
Income            0
Seniority         0
Spending          0
Has_child         0
Children          0
Wines             0
Fruits            0
Meat              0
Fish              0
Sweets            0
Gold              0
dtype: int64

## Customer Segmentation

In [69]:
scaler=MinMaxScaler()
df_temp=df[['Income','Seniority','Spending']]
X_std=scaler.fit_transform(df_temp)
X = normalize(X_std,norm='l2')

In [70]:
gmm=GaussianMixture(n_components=4, covariance_type='spherical',max_iter=2000, random_state=0).fit(X)
labels = gmm.predict(X)

In [71]:
labels

array([2, 3, 2, ..., 1, 1, 0], dtype=int64)

In [72]:
## The 4 categories we segment our customers are:

# Rising Star: New customers with high income high spending.
# Star: Old customers with high income and spending.
# Not good: Old customers with low income and low spending.
# Attention: New customers with low income and low spending.

In [73]:
df_temp['Cluster'] = labels
df_temp=df_temp.replace({0:'Not good',1:'Rising Star',2:'Star',3:'Attention'})
df = df.merge(df_temp.Cluster, left_index=True, right_index=True)

In [74]:
summary=df[['Income','Spending','Seniority','Cluster']]
summary.set_index("Cluster", inplace = True)
summary=summary.groupby('Cluster').describe().T
summary

Cluster          Attention  Not good  Rising Star       Star
Income    count    431.000   781.000      356.000    647.000
          mean   44729.313 33893.306    75325.654  65762.448
          std    17784.856 12679.763    11796.825  13631.360
          min     4023.000  1730.000    41443.000   2447.000
          25%    34209.000 24570.000    68046.750  56962.000
          50%    43142.000 33762.000    75507.000  65569.000
          75%    53649.000 42160.000    81667.250  74881.000
          max   162397.000 86836.000   157243.000 160803.000
Spending  count    431.000   781.000      356.000    647.000
          mean     134.042   163.309     1265.435   1096.454
          std      139.219   172.881      463.885    461.010
          min        6.000     5.000      372.000    217.000
          25%       43.000    43.000      916.750    757.500
          50%       69.000    81.000     1183.500   1065.000
          75%      187.500   241.000     1600.750   1405.500
          max      734.000   890.000     2525.000   2352.000
Seniority count    431.000   781.000      356.000    647.000
          mean      94.641   106.085       95.876    106.425
          std        2.715     4.887        3.494      4.408
          min       90.533    91.933       90.533     95.600
          25%       92.483   102.267       93.058    102.967
          50%       94.167   106.400       95.683    106.600
          75%       96.517   110.333       98.233    110.317
          max      103.567   113.833      107.133    113.800

In [75]:
df.head()

,Age,Education,Marital_Status,Income,Seniority,Spending,Has_child,Children,Wines,Fruits,Meat,Fish,Sweets,Gold,Cluster
0,64,Postgraduate,Alone,58138.000,112.633,1617,No child,No child,635,88,546,172,88,88,Star
1,67,Postgraduate,Alone,46344.000,94.300,27,Has child,2 children,11,1,6,2,1,6,Attention
2,56,Postgraduate,In couple,71613.000,100.933,776,No child,No child,426,49,127,111,21,42,Star
3,37,Postgraduate,In couple,26646.000,95.167,53,Has child,1 child,11,4,20,10,3,5,Attention
4,40,Postgraduate,In couple,58293.000,95.900,422,Has child,1 child,173,43,118,46,27,15,Attention

## More Feature Engineering

In [77]:
#Age segment

cut_labels_Age = ['Young', 'Adult', 'Mature', 'Senior']
cut_bins = [0, 30, 45, 65, 130]
df['Age_group'] = pd.cut(df['Age'], bins=cut_bins, labels=cut_labels_Age)

#Income segment

cut_labels_Income = ['Low income', 'Low to medium income', 'Medium to high income', 'High income']
df['Income_group'] = pd.qcut(df['Income'], q=4, labels=cut_labels_Income)

#Seniority segment

cut_labels_Seniority = ['New customers', 'Discovering customers', 'Experienced customers', 'Old customers']
df['Seniority_group'] = pd.qcut(df['Seniority'], q=4, labels=cut_labels_Seniority)
df=df.drop(columns=['Age','Income','Seniority'])

In [78]:
cut_labels = ['Low consumer', 'Medium consumer', 'Top consumer']
df['Wines_segment'] = pd.qcut(df['Wines'][df['Wines']>0],q=[0, .25, .75, 1], labels=cut_labels).astype("object")
df['Fruits_segment'] = pd.qcut(df['Fruits'][df['Fruits']>0],q=[0, .25, .75, 1], labels=cut_labels).astype("object")
df['Meat_segment'] = pd.qcut(df['Meat'][df['Meat']>0],q=[0, .25, .75, 1], labels=cut_labels).astype("object")
df['Fish_segment'] = pd.qcut(df['Fish'][df['Fish']>0],q=[0, .25, .75, 1], labels=cut_labels).astype("object")
df['Sweets_segment'] = pd.qcut(df['Sweets'][df['Sweets']>0],q=[0, .25, .75, 1], labels=cut_labels).astype("object")
df['Gold_segment'] = pd.qcut(df['Gold'][df['Gold']>0],q=[0, .25, .75, 1], labels=cut_labels).astype("object")
df.drop(columns=['Spending','Wines','Fruits','Meat','Fish','Sweets','Gold'],inplace=True)
df = df.astype(object)

In [52]:
df.head()

,Education,Marital_Status,Has_child,Children,Cluster,Age_group,Income_group,Seniority_group,Wines_segment,Fruits_segment,Meat_segment,Fish_segment,Sweets_segment,Gold_segment
0,Postgraduate,Alone,No child,No child,Star,Mature,Medium to high income,Old customers,Top consumer,Top consumer,Top consumer,Top consumer,Top consumer,Top consumer
1,Postgraduate,Alone,Has child,2 children,Attention,Senior,Low to medium income,New customers,Low consumer,Low consumer,Low consumer,Low consumer,Low consumer,Low consumer
2,Postgraduate,In couple,No child,No child,Star,Mature,High income,Discovering customers,Medium consumer,Top consumer,Medium consumer,Top consumer,Medium consumer,Medium consumer
3,Postgraduate,In couple,Has child,1 child,Attention,Adult,Low income,New customers,Low consumer,Low consumer,Medium consumer,Medium consumer,Low consumer,Low consumer
4,Postgraduate,In couple,Has child,1 child,Attention,Adult,Medium to high income,New customers,Medium consumer,Medium consumer,Medium consumer,Medium consumer,Medium consumer,Medium consumer

In [79]:
df.isna().sum()

Education            0
Marital_Status       0
Has_child            0
Children             0
Cluster              0
Age_group            0
Income_group         0
Seniority_group      0
Wines_segment       13
Fruits_segment     395
Meat_segment         1
Fish_segment       379
Sweets_segment     413
Gold_segment        61
dtype: int64

In [80]:
df.replace(np.nan, "Non consumer", inplace=True)
df.isna().sum()

Education          0
Marital_Status     0
Has_child          0
Children           0
Cluster            0
Age_group          0
Income_group       0
Seniority_group    0
Wines_segment      0
Fruits_segment     0
Meat_segment       0
Fish_segment       0
Sweets_segment     0
Gold_segment       0
dtype: int64

## Association rules for wines top consumers

In [81]:
copy=df.copy() 
df = pd.get_dummies(copy)
frequent_items = apriori(df, use_colnames=True, min_support=0.08, max_len=10)
rules = association_rules(frequent_items, metric='lift', min_threshold=1)
product='Wines'
segment='Top consumer'
target = '{\'%s_segment_%s\'}' %(product,segment)
results_personnal_care = rules[rules['consequents'].astype(str).str.contains(target, na=False)].sort_values(by='confidence', ascending=False)
results_personnal_care.head(5)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
4892,"(Cluster_Star, Seniority_group_Old customers)",(Wines_segment_Top consumer),0.112,0.249,0.084,0.746,2.999,0.056,2.957
9949,"(Meat_segment_Top consumer, Income_group_High ...",(Wines_segment_Top consumer),0.177,0.249,0.112,0.634,2.550,0.068,2.054
5056,"(Meat_segment_Top consumer, Income_group_High ...",(Wines_segment_Top consumer),0.190,0.249,0.119,0.626,2.517,0.072,2.010
6321,"(Income_group_High income, Education_Postgradu...",(Wines_segment_Top consumer),0.147,0.249,0.092,0.626,2.516,0.055,2.007
19337,"(Meat_segment_Top consumer, Income_group_High ...",(Wines_segment_Top consumer),0.138,0.249,0.085,0.618,2.483,0.051,1.965

In [27]:
# The top customers of wine are:

# 1) Old customers who belong in the Star cluster.
# 2) People with graduate degree, who are also top consumers for meat and have high income.

## Association rules for fruits top consumers

In [83]:
copy=df.copy() 
df = pd.get_dummies(copy)
frequent_items = apriori(df, use_colnames=True, min_support=0.08, max_len=10)
rules = association_rules(frequent_items, metric='lift', min_threshold=1)
product='Fruits'
segment='Top consumer'
target = '{\'%s_segment_%s\'}' %(product,segment)
results_personnal_care = rules[rules['consequents'].astype(str).str.contains(target, na=False)].sort_values(by='confidence', ascending=False)
results_personnal_care.head(5)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
5353,"(Sweets_segment_Top consumer, Fish_segment_Top consumer)",(Fruits_segment_Top consumer),0.126,0.203,0.084,0.664,3.270,0.058,2.374
10430,"(Meat_segment_Top consumer, Education_Postgraduate, Fish_segment_Top consumer)",(Fruits_segment_Top consumer),0.132,0.203,0.085,0.645,3.175,0.058,2.245
5341,"(Meat_segment_Top consumer, Fish_segment_Top consumer)",(Fruits_segment_Top consumer),0.146,0.203,0.093,0.639,3.145,0.064,2.207
5347,"(Sweets_segment_Top consumer, Meat_segment_Top consumer)",(Fruits_segment_Top consumer),0.137,0.203,0.087,0.634,3.119,0.059,2.175
5079,"(Sweets_segment_Top consumer, Income_group_High income)",(Fruits_segment_Top consumer),0.129,0.203,0.081,0.629,3.098,0.055,2.150

In [29]:
# The top customers of fruits are:

# 1) Customers who are also top consumers of fish and sweets.
# 2) People with graduate degree, who are also top consumers for meat and fish.